.box1{
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
}

.box2{
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.box3{
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: pink;
}

.box4{
    height: 100px;
    width: 200px;
    background-color: purple;
}